@font-face
{
    font-family: 'WingDings';
    src: url('../fonts/wingdings/wingdings.eot#') format('eot'),
         url('../fonts/wingdings/wingdings.woff') format('woff'),
         url('../fonts/wingdings/wingdings.ttf') format('truetype'),
         url('../fonts/wingdings/Wingdings.svg#WinDings') format('svg');
}

@font-face {
  font-family: 'Comic Neue';
  src: url('../fonts/comicneue/ComicNeue-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/comicneue/ComicNeue-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/comicneue/ComicNeue-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/comicneue/ComicNeue-Bold.woff2') format('woff2'), /* Even Moderner Browsers */
       url('../fonts/comicneue/ComicNeue-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* INDEX */
body.index
{
    background:url('../images/index/chicken.gif');
    background-size: 450px 450px;
    background-repeat: repeat;
    padding-top: 40px;
}

#indexaudio
{

}
.indexheader
{
    font-family: Comic Neue;
    text-align:center;
    color:purple;
    font-size:72px;
}
#potwmsg
{
    text-align: center;
    font-family: Comic Neue, Marker Felt, sans-serif;
    color:orange;
    font-size: 36px;
}
#potwimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.pagelink
{
    text-align:center;
    color:yellow;
    font-size:72px;
    font-family: Comic Neue, Marker Felt, sans-serif;
}
.wingmasterlink
{
    text-align:center;
    color: green;
    font-size:72px;
    font-family: WingDings;
}
#googlead
{
text-align: center;
}
/* END INDEX /*



/* COPYPASTA COLD STORAGE */
body.coldstorage
{
    background: url("../images/coldstorage/kjclap.gif");
    background-size: 610px 400px;
    background-repeat: repeat;
    padding-top: 40px;
    font-family: Comic Neue, Marker Felt, sans-serif;
}

#coldstorageheader
{
    text-align:center;
    color:orange;
    font-size:72px;
}

.copypastatitle
{
    color:red;
    text-align:center;
    font-size:28px;
}

.copypastabody
{
    color:yellow;
}
/* END END COPYPASTA COLD STORAGE /*



/* LORD OF WINGDINGS */
body.wingmaster
{
    background: url("../images/wingmaster/ohgod.gif");
    background-size: 450px 450px;
    background-repeat: repeat;
    padding-top: 40px;
}

#wingmasterheader
{
    text-align:center;
    color:white;
    font-size:72px;
    font-family: Comic Neue, Marker Felt, sans-serif;
}

#wingmasterbook
{
    color: white;
    font-size: 24;
    font-family: WingDings;
}

/* END LORD OF WINGDINGS /*



/* GUNNAR'S HOMEPAGE */
body.gunnar
{
    background: url("../images/gunnar/ohgod.gif");
    font-family: Comic Neue, Marker Felt, sans-serif;
}
#gunnarheader
{
    text-align: center;
    font-size: 150px;
    font-family: Comic Neue, Marker Felt, sans-serif;
    color: white;
}
/* END GUNNAR'S HOMEPAGE /*
