/* INDEX */

/* END INDEX /*



/* COPYPASTA COLD STORAGE */

/* END END COPYPASTA COLD STORAGE /*



/* LORD OF WINGDINGS */

/* END LORD OF WINGDINGS /*



/* TRUMPETAD */
.trumpetadheader
    {
        text-align: center;
        font-family: impact;
        font-size: 48;
    }
.trumpetadpic
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:300px;
    }
.trumpetadcontact
    {
        text-align:center;
        font-family:Impact;
        font-size:36px
    }
/* END TRUMPETAD /*
