/* INDEX */
@font-face
{
    font-family: 'WingDings';
    src: url('/fonts/wingdings/wingdings.eot#') format('eot'),
         url('/fonts/wingdings/wingdings.woff') format('woff'),
         url('/fonts/wingdings/wingdings.ttf') format('truetype'),
         url('/fonts/wingdings/Wingdings.svg#WinDings') format('svg');
}
body.index
{
    background:url('../images/index/chicken.gif');
    background-size: 450px 450px;
    background-repeat: repeat;
    padding-top: 40px;
}

.indexheader
{
    font-family: Comic Sans MS;
    text-align:center;
    color:purple;
    font-size:72px;
}
.potwmsg
{
    text-align: center;
    font-family: Comic Sans MS;
    color:orange;
    font-size: 36px;
}
.potwimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.coldstoragelink
{
    text-align:center;
    color:yellow;
    font-size:72px;
    font-family: Comic Sans MS;
}
.wingmasterlink
{
    text-align:center;
    color: green;
    font-size:72px;
    font-family: WingDings;
}
/* END INDEX /*



/* COPYPASTA COLD STORAGE */
body.coldstorage
{
    background: url("../images/coldstorage/kjclap.gif");
    background-size: 610px 400px;
    background-repeat: repeat;
    padding-top: 40px;

    font-family: Comic Sans MS;
}

.ccsheader
{
    text-align:center;
    color:orange;
    font-size:72px;
}

.copypastatitle
{
    color:red;
    text-align:center;
    font-size:28px;
}

.copypastabody
{
    color:yellow;
}
/* END END COPYPASTA COLD STORAGE /*



/* LORD OF WINGDINGS */
body.wingmaster
{
    background: url("../images/wingmaster/ohgod.gif");
    background-size: 450px 450px;
    background-repeat: repeat;
    padding-top: 40px;
}

.wingmasterheader
{
    text-align:center;
    color:white;
    font-size:72px;
    font-family:Comic Sans MS;
}

.wingmasterbook
{
    color: white;
    font-size: 24;
    font-family: WingDings;
}

/* END LORD OF WINGDINGS /*



/* TRUMPETAD */
.trumpetadheader
    {
        text-align: center;
        font-family: impact;
        font-size: 48;
    }
.trumpetadpic
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:300px;
    }
.trumpetadcontact
    {
        text-align:center;
        font-family:Impact;
        font-size:36px
    }
/* END TRUMPETAD /*
